<!DOCTYPE html>
<html>
<head>
  <title>Live Session Invitation</title>
</head>
<body>
  <h1>Live Session Invitation</h1>
  <p>Hello {{ name }},</p>
  <p>You have been invited to a live session. Please click the link below to join the meeting:</p>
  <a href="{{ meetLink }}">{{ meetLink }}</a>
</body>
</html>
